<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <h1>List of diseases</h1>
  <style>
    body 
      {
        background-color:#cccccc;
      }
  </style>
</head>
<body>
  <% for (var i = 0; i < diseases.length; i++) { %>
    <p><h3><%= JSON.parse(diseases[i]['disease'])['name'] %></p></h3>
    <a href=<%= JSON.parse(diseases[i]['disease'])['source'] %>>Source</a>
    <p>Description: <%= JSON.parse(diseases[i]['disease'])['description'] %></p>
    <p>Notes: <%= JSON.parse(diseases[i]['disease'])['notes'] %></p>
  <% } %>
</body>
</html>
