<!DOCTYPE html>
<html lang="en">
<head>
  <div id='form_error'>
    Make sure to fill out all areas of form
  </div>
  <div>
    <form name="input" action="/submit_disease" method="get">
    First name: <input type="text" name="firstname"><br>
    Last name: <input type="text" name="lastname"><br>
    <input type="radio" name="sex" value="male">Male<br>
    <input type="radio" name="sex" value="female">Female<br>
    <input type="submit" value="Submit"><br>
    </form>
  </div>
  <div>
    <a href="/display_diseases">View diseases</a> 
  </div>
</head>
</html>
